<form class="actor-sheet {{cssClass}} border-thick sheet-container" autocomplete="off">
    <div class="sheet-container">
        <div class="grid col-160-1fr border-bottom-thick">
            <div class="portrait">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="160" width="160" />
            </div>
            <div class="flexcol padding-small">
                <div class="flexrow align-content-start gap-small">
                    <div class="charname grid col-20-80 align-bottom border-bottom">
                        <label class="shrink">{{localize "estate.HEAD.NAME"}}</label>
                        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "estate.HEAD.NAME"}}" />
                    </div>
                </div>
                <div class="flexrow align-content-start gap-small">
                    <div class="charname grid col-20-80 align-bottom border-bottom">
                        <label class="shrink">{{localize "estate.HEAD.VEHICLE_TYPE"}}</label>
                        <input name="system.type" type="text" value="{{actor.system.type}}" placeholder="{{localize "estate.HEAD.VEHICLE_TYPE"}}" />
                    </div>
                </div>
                <div class="flexrow align-content-start gap-small">
                    <div class="charname grid col-20-80 align-bottom border-bottom">
                        <label class="shrink">{{localize "estate.HEAD.MODEL"}}</label>
                        <input name="system.model" type="text" value="{{actor.system.model}}" placeholder="{{localize "estate.HEAD.MODEL"}}" />
                    </div>
                </div>
                <div class="flexrow align-content-start gap-small">
                    <div class="charname grid col-20-80 align-bottom border-bottom">
                        <div>
                            {{localize "estate.UI.FUEL"}}
                        </div>
                        <div class="flexrow center middle">
                            <div class="input-container mi-small center">
                                <input type="number" name="system.fuel.value" value="{{actor.system.fuel.value}}"
                                    style="width: 50px" data-dtype="Number" />
                            </div>
                            <div>/</div>
                            <div class="input-container mi-small center">
                                <input type="number" name="system.fuel.max" value="{{actor.system.fuel.max}}"
                                    style="width: 50px" data-dtype="Number" />
                            </div>
                            <div class="mn-w-200px bg-hatch">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="flexrow align-content-start gap-small">
                    <div class="description grid col-20-80 align-bottom border-bottom">
                        <label class="shrink">{{localize "estate.HEAD.DESC"}}</label>
                        <div contenteditable="true" class="input-text border-thin padding-small" id="{{actor._id}}-desc-edit" name="system.description" data-field="system.description">{{actor.system.description}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flexcol">
            <div class="sheet-tabs tabs flexrow border-bottom-thick" data-group="primary">
                <b class="item border-right-thick padding-small" data-tab="main">{{localize "estate.UI.MAIN"}}</b>
                <b class="item border-right-thick padding-small" data-tab="trunk">{{localize "estate.UI.TRUNK"}}</b>
                <b class="item padding-small" data-tab="notes">{{localize "estate.UI.NOTES"}}</b>
            </div>
            <div class="sheet-body">
                <div class="tab" data-group="primary" data-tab="main">
                    <div class="main flexcol padding-small">
                        {{> "systems/electric-state/templates/actors/parts/vehicle-main.hbs"}}
                    </div>
                </div>
                <div class="tab" data-group="primary" data-tab="trunk">
                    <div class="trunk flexcol padding-small">
                        {{> "systems/electric-state/templates/actors/parts/vehicle-gear.hbs"}}
                    </div>
                </div>
                <div class="tab" data-group="primary" data-tab="notes">
                    <div class="notes flexcol padding-small">
                        {{> "systems/electric-state/templates/actors/parts/vehicle-notes.hbs"}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>