<div class="dice-infos">


  {{# if (eq roll.options.type "neurocaster")}}
  {{#if (eq roll.options.actorType "player")}}
  {{#unless (gt roll.successCount 0)}}
  <div class="nc-fail-container center margin-small padding-small border-thin flexcol ">
    <div class="bliss-cost center grid col-80-20 middle fw-600 fs-200 space-between w-100 red">
      <span class="label subheader">{{localize "estate.UI.BLISS_COST"}}: </span>
      <span class="result"> 1 </span>
    </div>
  </div>
  {{/unless}}
  {{/if}}
  {{/if}}
  {{#if (gt roll.pushCount 0)}}
  {{#if (gt (calculate roll.baneCount roll.options.originalOnesCount "-") 0)}}
  <div class="bane-container center margin-small padding-small border-thin flexcol ">
    {{#if (gt roll.gearDamage 0)}}
    <div class="gear-damage center flexrow middle fw-600 space-between w-100">
      <span class="label">{{localize "estate.UI.GEAR_DAMAGE"}}: </span>
      <span class="result">{{roll.gearDamage}}</span>
    </div>
    {{/if}}
    {{#if (gt (calculate roll.attributeTrauma roll.options.originalOnesCount "-") 0)}}
    <div class="hope-loss center flexrow middle fw-600 space-between w-100">
      <span class="label">{{localize "estate.UI.HOPE_LOSS"}}: </span>
      <span class="result">{{calculate roll.attributeTrauma roll.options.originalOnesCount "-"}}</span>
    </div>

    {{/if}}

  </div>
  {{/if}}
  {{/if}}


  {{#if (eq roll.game 'es')}}

  {{#if (gt roll.options.damage 0)}}
   {{#unless (eq roll.options.type "explosive")}}
     <div class="roll-damage center fs-400 fw-700 margin-small">
       <span class="label">{{localize "estate.ROLL.DAMAGE"}}: </span>
       {{#if (gt roll.successCount 1)}}
         <span class="result">
           {{calculate roll.options.damage (calculate roll.successCount 1 "-") "+"}} &nbsp;
           (
           {{roll.options.damage}} &plus; {{calculate roll.successCount 1 "-"}}
           )
         </span>
       {{/if}}
       {{#unless (gt roll.successCount 1)}}
          <span class="result"> {{roll.options.damage}} </span>
       {{/unless}}
     </div>
   {{/unless}}

  {{#if (eq roll.options.type "explosive")}}
    <div class="roll-damage center fs-400 fw-700 margin-small">
      <span class="label">{{localize "estate.UI.BLASTDAMAGE"}}: </span>
      {{#if (gt roll.successCount 1)}}
       <span class="result"> {{calculate roll.options.damage (calculate roll.successCount 1 "-") "+"}} &nbsp;
        (
        {{roll.options.damage}}
        &plus; {{calculate roll.successCount 1 "-"}}
        )
       </span>
      {{/if}}
      {{#unless (gt roll.successCount 1)}}
        <span class="result"> {{roll.options.damage}} </span>
       {{/unless}}
    
    </div>
  {{/if}}
  {{#if (gt roll.successCount 0)}}
    <div class="dice-buttons" data-owner-id="{{roll.owner}}">
      <button class="dice-button es-button apply-damage" data-action="apply-damage"
        data-damage="{{calculate roll.options.damage (calculate roll.successCount 1 " -") "+" }}"
        data-owner-id="{{roll.owner}}">{{localize
        "YZUR.CHAT.ROLL.DAMAGE"}}</button>
    </div>
  {{/if}}
  {{/if}}
  

  {{/if}}

</div>