<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="flexrow">
    <div class="portrait"><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="160" width="160" />
    </div>
    <div class="content flexcol">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" />
      </h1>
      <label>Armor</label> <input type="number" name="system.modifier.value" value="{{item.system.modifier.value}}"> / <input type="number" name="system.modifier.max" value="{{item.system.modifier.max}}"> 
      <label>Agility Modifier</label> <input type="number" name="system.agiltyModifier" value="{{item.system.agiltyModifier}}">
      
      <label>Description</label> <textarea name="system.description"
        value="{{item.system.description}}">{{item.system.description}}</textarea>

      <label>Price</label> <input type="text" name="system.cost" value="{{item.system.cost}}">
    </div>
  </div>

</form>