<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="grid col-20-80 border-thick">

    <div class="portrait align-start flexcol bg-dark space-between h-100">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" width="160" />
      <div class="hold ">&nbsp;</div>
    </div>


    <div class="content flexcol  padding-small">

      <div class="name-price grid two-col border-bottom-thin">
        <div class="name fw-600 fs-500 middle">
          <input name="name" type="text" value="{{item.name}}" />
        </div>
        <div class="price flexrow all-caps fw-600 middle">
          <label class="text-right">{{localize "estate.HEAD.PRICE"}} $:</label> <input type="text" name="system.cost"
            value="{{item.system.cost}}">
        </div>
      </div>

      <div class="grid">
        <div class="attribute agility flexrow all-caps middle fw-600">
          <label>Bonus</label> <input type="number" name="system.modifier.value" value="{{item.system.modifier.value}}">
        </div>
        <div class="attribute agility flexrow all-caps middle fw-600">
          <label>Blast Power</label> <input type="number" name="system.blast" value="{{item.system.blast}}">
        </div>
        <div class="ranges flexcol all-caps middle fw-600 w-100">
          <div class="flexrow space-between w-100">
            <label class="no-break text-left">{{localize "estate.UI.RANGE_MIN"}}</label>
            <select name="system.range.min">
              {{selectOptions config.ranges selected=item.system.range.min localize=true}}
            </select>
          </div>
          <div class="flexrow space-between w-100">
            <label>{{localize "estate.UI.RANGE_MAX"}}</label>
            <select name="system.range.max">
              {{selectOptions config.ranges selected=item.system.range.max localize=true}}
            </select>
          </div>
        </div>
        <div class="desc-group flexcol">
          <label class="all-caps fw-600">{{localize "estate.HEAD.DESC"}}</label> <textarea name="system.description"
            value="{{item.system.description}}">{{item.system.description}}</textarea>
        </div>

      </div>


    </div>
  </div>

</form>