<form class="{{cssClass}} flexcol" autocomplete="off">

  <h1 class="itemname">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="160" width="160" />
    <label for="item-name">{{localize "estate.HEAD.NAME"}}</label>
    <input id="item-name" name="name" type="text" value="{{item.name}}" />
    <label for="cost">
      {{localize "estate.HEAD.COST"}}
    </label>
    <input id="cost" name="system.cost" type="text" value="{{item.system.cost}}" />

  </h1>
  <label for="description">description</label>
  <textarea id="description" name="system.description">{{item.system.description}}</textarea>
  Roll Modifier? <input type="checkbox" name="system.isModifier" id="roll-modifier-boolean" {{checked
    item.system.isModifier}} />
  {{#if item.system.isModifier}}
  <div id="roll-modifier" class="flexrow">
    <label for="roll-modifier">Gear Dice</label>
    <input id="roll-modifier" name="system.modifier.value" type="number" value="{{item.system.modifier.value}}" /> /
    <input id="max-roll-modifier" name="system.modifier.max" type="number" value="{{item.system.modifier.max}}" />

  </div>
  Modified Attribute

  {{log config.attributeSelectOptions}}
  <select name="system.attribute">
    {{selectOptions config.attributeSelectOptions selected=item.system.attribute localize=true}}
  </select>
  {{#if item.system.isBroken}}
  <div class="broken">
    <h3>{{localize "estate.UI.BUSTED"}}</h3>
  </div>
  {{/if}}

  {{/if}}

  Limited Uses? <input type="checkbox" name="system.isConsumable" id="roll-modifier-boolean" {{checked
    item.system.isConsumable}} />
  {{#if item.system.isConsumable}}
  <div id="consumable" class="flexcol">
    <div class="flexrow">
    <label for="consumable">{{localize "estate.UI.USES"}}</label>
    <input id="consumable" name="system.uses" type="number" value="{{item.system.uses}}" />
    </div>
    <label for="useType">Use For</label>
    <select name="system.useType">
      {{selectOptions config.useTypeOptions selected=item.system.useType localize=true}}
    </select>
    <div class="use-value">&plus;<input id="use-value" name="system.useValue" type="number" value="{{item.system.useValue}}" />
     </div>
    <label for="useType">Drawback</label>
    <select name="system.usePenaltyType">
      {{selectOptions config.usePenaltyOptions selected=item.system.usePenaltyType localize=true}}
    </select>
<div class="use-penalty">&minus;<input id="use-value" name="system.usePenalty" type="number" value="{{item.system.usePenalty}}" />
     </div>
  </div>
    {{/if}}

</form>