<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="grid col-20-80 border-thick">

    <div class="portrait align-start flexcol bg-dark space-between h-100">

      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" width="160" />
      <div class="hold ">&nbsp;</div>


    </div>


    <div class="content flexcol padding-small gap-med">


      <div class="name-price grid two-col border-bottom-thin">
        <div class="name fw-600 fs-500 middle">
          <input name="name" type="text" value="{{item.name}}" />
        </div>
        <div class="price flexrow all-caps fw-600 middle">
          <label class="text-right">{{localize "estate.HEAD.PRICE"}} $:</label> <input type="text" name="system.cost"
            value="{{item.system.cost}}">
        </div>
      </div>

      <div class="flexrow all-caps fw-600 middle w-100">
        <label for="proc">{{localize "estate.UI.PROCESSOR"}}</label>
        <input id="proc" name="system.processor.value" type="number" value="{{item.system.processor.value}}" /> /
        <input id="max-proc" name="system.processor.max" type="number" value="{{item.system.processor.max}}" />
      </div>

      <div class="flexrow all-caps fw-600 middle w-100">
        <label for="net">{{localize "estate.UI.NETWORK"}}</label>
        <input id="net" name="system.network.value" type="number" value="{{item.system.network.value}}" /> /
        <input id="max-net" name="system.network.max" type="number" value="{{item.system.network.max}}" />
      </div>

      <div class="flexrow all-caps fw-600 middle w-100">
        <label for="graphhics">{{localize "estate.UI.GRAPHICS"}}</label>
        <input id="graphics" name="system.graphics.value" type="number" value="{{item.system.graphics.value}}" /> /
        <input id="max-graphics" name="system.graphics.max" type="number" value="{{item.system.graphics.max}}" />
      </div>

      <div class="flexrow all-caps fw-600 middle w-100">
        <label for="rw-penalty" class="no-break">{{localize "estate.UI.RW_PENALTY"}}</label>
        <input id="rw-penalty" name="system.modifier.value" type="number" value="{{item.system.modifier.value}}" />
      </div>

      <div class="desc-group flexcol"></div>
      <label class="all-caps fw-600">{{localize "estate.HEAD.DESC"}}</label> <textarea name="system.description"
        value="{{item.system.description}}">{{item.system.description}}</textarea>
    </div>

  </div>
  </div>
</form>