<form class="{{cssClass}} flexcol" autocomplete="off">

  <h1 class="charname">
   
    <input name="name" type="text" value="{{item.name}}" />
  </h1>
  <label for="target">Target of Tension</label>
  <select name="system.actorId">
      {{selectOptions config.actorSelectOptions selected=item.system.actorId valueAttr="id" labelAttr="actor"}}
      </select>

  <label for="score">Score</label>
  <input id="score" name="system.score" type="number" value="{{item.system.score}}" />
    <label for="description">description</label>
  <textarea id="description" name="system.description">{{item.system.description}}</textarea>

</form>