<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="flexrow">
    <div class="portrait"><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="160" width="160" />
    </div>
    <div class="content flexcol">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" />
      </h1>
      <label for="cost">
      {{localize "estate.HEAD.COST"}}
    </label>
    <input id="cost" name="system.cost" type="text" value="{{item.system.cost}}" />
  <label> Type </label>
      <select name="system.type">
        {{selectOptions config.weaponType selected=item.system.type localize=true}}
      </select>
      <label>Bonus</label> <input type="number" name="system.modifier.value" value="{{item.system.modifier.value}}">
      <label>Description</label> <textarea name="system.description"
        value="{{item.system.description}}">{{item.system.description}}</textarea>
  <label >Damage</label> <input type="number" name="system.damage" value="{{item.system.damage}}">
   <label>Minimum Range</label>
      <select name="system.range.min">
        {{selectOptions config.ranges selected=item.system.range.min localize=true}}
      </select>
      <label>Maximum Range</label>
      <select name="system.range.max">
        {{selectOptions config.ranges selected=item.system.range.max localize=true}}
      </select>
    
    </div>
  </div>

</form>