<div class="flexcol gap-small">
    {{#if (eq actor.type 'player')}}
    <div class="cash border-bottom-thick grid two-col">
        <div class="holder">&nbsp;</div>
        <div class="cash-display flexrow all-caps fw-600 middle text-right">
            <lable for="cash-input">{{localize "estate.UI.CASH"}} :$ </lable> <input id="cash-input" name="system.cash"
                type="number" value="{{actor.system.cash}}" />
        </div>
    </div>
    {{/if}}
    <div class="weapon-parts-group">
        {{> "systems/electric-state/templates/actors/parts/weapons.hbs"}}
    </div>

    <div class="armor-group border-bottom-thick">
        <div class="group-header flexrow border-bottom-thin space-between gap-med fw-600 fs-200 all-caps">
            <div class="mw-25px">&nbsp;</div>
            <div class="mw-150px flexrow middle">{{localize "estate.UI.ARMOR"}}</div>
            <div class="stat-group grid three-col middle">
                <div>{{localize "estate.UI.EQUIP"}}</div>
                <div>{{localize "estate.UI.BONUS"}}</div>
                <div>{{localize "estate.UI.ARMOR_PENALTY"}}</div>
            </div>
            <div class="button-group grid three-col mw-100px">
                <div class="holder"></div>
                <div class="item-create fs-500" data-type="armor">&plus;</div>
                <div class="holder"></div>
            </div>
        </div>
        {{#each items as |item|}}
        {{#if item.isArmor}}
        <div class="grid item item-row w-100 draggable" draggable="true" data-item-id="{{item._id}}">
            <div class="flexrow  middle border-bottom-thin space-between gap-med">

                <div class="show-details mw-25px clickable" data-item-id="{{item._id}}">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>

                <div class="rollable mw-150px flexrow middle clickable" data-type="armor" data-item-id="{{item._id}}">
                    <div class="item-icon mw-35px"><img src="{{item.img}}" title="{{item.name}}" height="25"
                            width="25" />
                    </div>
                    <div class="name no-break middle">
                        {{item.name}}
                    </div>
                </div>

                <div class="stat-group grid three-col">
                    {{#if item.flags.isEquipped}}
                    <div class="toggle-equip"><i class="fa-solid fa-shield"></i></div>
                    {{/if}}
                    {{#unless item.flags.isEquipped}}
                    <div class="toggle-equip"><i class="fa-regular fa-shield"></i></div>
                    {{/unless}}

                    <div class="rate">
                        {{item.system.modifier.value}}
                    </div>

                    <div class="agility-penalty">
                        {{item.system.agiltyModifier}}
                    </div>

                </div>


                <div class="button-group grid four-col mw-100px" data-item-id="{{item._id}}">
                    {{#if (eq ../actor.type 'player')}}
                    {{#if item.flags.isFav}}
                    <div class="toggle-fav"><i class="fa-solid fa-star"></i></div>
                    {{/if}}
                    {{#unless item.flags.isFav}}
                    <div class="toggle-fav"><i class="fa-regular fa-star"></i></div>
                    {{/unless}}
                    {{/if}}
                    {{#unless (eq ../actor.type 'player')}}
                    <div class="hold"></div>
                    {{/unless}}
                    <div class="to-chat"><i class="fa-solid fa-comment-alt-lines"></i></div>
                    <div class="item-edit"><i class="fa-solid fa-pen-to-square"></i></div>
                    <div class="item-delete"><i class="fa-solid fa-trash"></i></div>
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>

    <div class="gear-group border-bottom-thick">
        <div class="group-header flexrow border-bottom-thin space-between gap-med fw-600 fs-200 all-caps">
            <div class="mw-150px flexrow middle">{{localize "estate.UI.GEAR"}}</div>
            <div class="stat-group grid four-col middle">
                <div>{{localize "estate.UI.BONUS"}}</div>
                <div>{{localize "estate.UI.ATTRIBUTE"}}</div>
                <div>{{localize "estate.UI.USES"}}</div>
                <div>{{localize "estate.UI.TYPE"}}</div>
            </div>
            <div class="button-group grid three-col mw-100px">
                <div class="holder"></div>
                <div class="item-create fs-500" data-type="gear">&plus;</div>
                <div class="holder"></div>
            </div>
        </div>

        {{#each items as |item|}}
        {{#if item.isGear}}
        <div class="item item-row flexrow  middle border-bottom-thin space-between gap-med draggable" draggable="true"
            data-item-id="{{item._id}}">


            <div class="mw-150px flexrow middle" data-type="armor" data-item-id="{{item._id}}">
                <div class="item-icon">
                    <img src="{{item.img}}" title="{{item.name}}" height="25" width="25" />
                </div>
                <div>{{item.name}}</div>
            </div>

            <div class="stat-group grid four-col">

                {{#if item.system.isModifier}}
                <div class="modifiier">
                    {{item.system.modifier.value}} / {{item.system.modifier.max}}
                </div>
                <div class="attribute">
                    {{#dataLocalization item.system.attribute 'attribute'}}{{/dataLocalization}}
                </div>
                {{/if}}
                {{#unless item.system.isModifier}}
                <div class="hold"></div>
                <div class="hold"></div>
                {{/unless}}

                {{#if item.system.isConsumable}}
                <div class="item-use consumable clickable" data-item-id="{{item._id}}">
                    Uses: {{item.system.uses}}
                </div>
                <div class="use-type">
                    {{#dataLocalization item.system.useType 'useType'}}{{/dataLocalization}}
                </div>
                {{/if}}
                {{#unless item.system.isConsumable}}
                <div class="hold"></div>
                <div class="hold"></div>
                {{/unless}}

            </div>

            <div class="button-group grid four-col mw-100px" data-item-id="{{item._id}}">
                {{#if (eq ../actor.type 'player')}}
                {{#if item.flags.isFav}}
                <div class="toggle-fav"><i class="fa-solid fa-star"></i></div>
                {{/if}}
                {{#unless item.flags.isFav}}
                <div class="toggle-fav"><i class="fa-regular fa-star"></i></div>
                {{/unless}}
                {{/if}}
                {{#unless (eq ../actor.type 'player')}}
                <div class="hold"></div>
                {{/unless}}
                <div class="to-chat"><i class="fa-solid fa-comment-alt-lines"></i></div>
                <div class="item-edit" data-item-id="{{item._id}}"><i class="fa-solid fa-pen-to-square"></i></div>
                <div class="item-delete" data-item-id="{{item._id}}"><i class="fa-solid fa-trash"></i></div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>

    <div class="drone-group border-bottom-thick">
        <div class="group-header flexrow border-bottom-thin space-between gap-med fw-600 fs-200 all-caps">
            <div class="mw-150px flexrow middle">{{localize "estate.UI.DRONE"}}</div>
            <div class="stat-group grid two-col center middle">
                <div class="attack-group grid three-col">
                    <div class="equip">{{localize "estate.UI.EQUIP"}}</div>
                    <div class="attack">{{localize "estate.UI.ATTACK"}}</div>
                    <div class="armor">{{localize "estate.UI.ARMOR"}}</div>
                </div>
                <div class="attributes grid three-col">

                    <div>{{localize "estate.ATTRIBUTE.STR_ABV"}}</div>
                    <div>{{localize "estate.ATTRIBUTE.AGI_ABV"}}</div>
                    <div>{{localize "estate.UI.HULL"}}</div>
                </div>
            </div>
            <div class="button-group grid three-col mw-100px">
                <div class="holder"></div>
                <div class="item-create fs-500" data-type="drone">&plus;</div>
                <div class="holder"></div>
            </div>
        </div>
        {{#each items as |item|}}
        {{#if item.isDrone}}
        <div class="item item-row flexrow  middle border-bottom-thin space-between gap-med draggable" draggable="true"
            data-item-id="{{item._id}}">

            <div class="mw-150px flexrow middle" data-type="armor" data-item-id="{{item._id}}">
                <div class="item-icon">
                    <img src="{{item.img}}" title="{{item.name}}" height="25" width="25" />
                </div>
                <div>{{item.name}}</div>
            </div>


            <div class="stat-group grid two-col center middle">

                <div class="attack-group grid three-col">
                    {{#if item.flags.isEquipped}}
                    <div class="toggle-equip mw-50px"><i class="fa-solid fa-robot"></i></div>
                    {{/if}}
                    {{#unless item.flags.isEquipped}}
                    <div class="toggle-equip mw-50px"><i class="fa-regular fa-robot"></i></div>
                    {{/unless}}
                    <div class="drone-attack rollable mw-50px clickable" data-type="drone-attack"
                        data-item-id="{{item._id}}"><i class="fa-solid fa-gun"></i></div>
                    <div class="drone-armor rollable mw-50px clickable" data-type="drone-armor"
                        data-item-id="{{item._id}}"><i class="fa-solid fa-shield"></i></div>

                </div>


                <div class="attributes grid three-col">
                    <div class="strength">{{item.system.attributes.strength}}</div>
                    <div class="agility">{{item.system.attributes.agility}}</div>
                    <div class="hull">{{item.system.hull.value}} / {{item.system.hull.max}}</div>
                </div>
            </div>

            <div class="button-group grid four-col mw-100px" data-item-id="{{item._id}}">
                {{#if (eq ../actor.type 'player')}}
                {{#if item.flags.isFav}}
                <div class="toggle-fav"><i class="fa-solid fa-star"></i></div>
                {{/if}}
                {{#unless item.flags.isFav}}
                <div class="toggle-fav"><i class="fa-regular fa-star"></i></div>
                {{/unless}}
                {{/if}}
                {{#unless (eq ../actor.type 'player')}}
                <div class="hold"></div>
                {{/unless}}
                <div class="to-chat"><i class="fa-solid fa-comment-alt-lines"></i></div>
                <div class="item-edit" data-item-id="{{item._id}}"><i class="fa-solid fa-pen-to-square"></i></div>
                <div class="item-delete" data-item-id="{{item._id}}"><i class="fa-solid fa-trash"></i></div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>

    <div class="neurocaster-group">
        <div class="group-header flexrow border-bottom-thin space-between gap-med fw-600 fs-200 all-caps">
            <div class="mw-150px flexrow middle">{{localize "estate.UI.NEUROCASTER"}}</div>
            <div class="stat-group grid three-col middle center">
                <div>{{localize "estate.UI.EQUIP"}}</div>
                <div class="action-group flexrow center">
                    <div>{{localize "estate.UI.ACTIONS"}}</div>

                </div>
                <div class="stat-group flexrow gap-med middle center">
                    <div>{{localize "estate.UI.PROCESSOR_ABV"}}</div>
                    <div>{{localize "estate.UI.NETWORK_ABV"}}</div>
                    <div>{{localize "estate.UI.GRAPHICS_ABV"}}</div>
                </div>

            </div>
            <div class="button-group grid three-col mw-100px">
                <div class="holder"></div>
                <div class="item-create fs-500" data-type="neurocaster">&plus;</div>
                <div class="holder"></div>
            </div>
        </div>
        {{#each items as |item|}}
        {{#if item.isNeurocaster}}
        <div class=" item item-row flexrow draggable" draggable="true" data-item-id="{{item._id}}">
            <div class="mw-150px flexrow middle no-break" data-type="neurocaster" data-item-id="{{item._id}}">
                <div class="item-icon">
                    <img src="{{item.img}}" title="{{item.name}}" height="25" width="25" />
                </div>
                <div>{{item.name}}</div>
            </div>

            <div class="stat-group grid three-col center middle">
                {{#if item.flags.isEquipped}}
                <div class="toggle-equip mw-45px "><i class="fa-solid fa-head-side-gear"></i>

                </div>
                {{/if}}
                {{#unless item.flags.isEquipped}}
                <div class="toggle-equip mw-45px"><i class="fa-light fa-head-side-gear"></i>

                </div>
                {{/unless}}
                <div class="action-group flexrow gap-x-small" data-item-id="{{item._id}}">
                    <div class="rollable tooltip clickable" data-type="neurocaster" data-cast="info">
                        <i class="fa-solid fa-print-magnifying-glass"></i>
                        <span class="tooltiptext">{{localize "estate.UI.INFO"}}</span>
                    </div>
                    <div class="rollable tooltip clickable" data-type="neurocaster" data-cast="hack">
                        <i class="fa-solid fa-gear-code"></i>
                        <span class="tooltiptext">{{localize "estate.UI.HACK"}}</span>
                    </div>
                    <div class="rollable tooltip clickable" data-type="neurocaster" data-cast="coms">
                        <i class="fa-solid fa-signal-stream"></i>
                        <span class="tooltiptext">{{localize "estate.UI.COMS"}}</span>
                    </div>
                    <div class="rollable tooltip clickable" data-type="neurocaster" data-cast="block">
                        <i class="fa-solid fa-signal-stream-slash"></i>
                        <span class="tooltiptext">{{localize "estate.UI.BLOCK"}}</span>
                    </div>
                    <div class="rollable tooltip clickable" data-type="neurocaster" data-cast="combat">
                        <i class="fa-solid fa-hand-fist"></i>
                        <span class="tooltiptext">{{localize "estate.UI.COMBAT"}}</span>
                    </div>
                </div>
                <div class="stat-group flexrow gap-med middle">
                    <div class="processor">
                        {{item.system.processor.value}} / {{item.system.processor.max}}
                    </div>
                    <div class="network">
                        {{item.system.network.value}} / {{item.system.network.max}}
                    </div>
                    <div class="graphics">
                        {{item.system.graphics.value}} / {{item.system.graphics.max}}
                    </div>
                </div>
            </div>
            <div class="button-group grid four-col mw-100px middle" data-item-id="{{item._id}}">
                {{#if (eq ../actor.type 'player')}}
                {{#if item.flags.isFav}}
                <div class="toggle-fav"><i class="fa-solid fa-star"></i></div>
                {{/if}}
                {{#unless item.flags.isFav}}
                <div class="toggle-fav"><i class="fa-regular fa-star"></i></div>
                {{/unless}}
                {{/if}}
                {{#unless (eq ../actor.type 'player')}}
                <div class="hold"></div>
                {{/unless}}
                <div class="to-chat"><i class="fa-solid fa-comment-alt-lines"></i></div>
                <div class="item-edit" data-item-id="{{item._id}}"><i class="fa-solid fa-pen-to-square"></i></div>
                <div class="item-delete" data-item-id="{{item._id}}"><i class="fa-solid fa-trash"></i></div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>

</div>