<div>
    {{#if actor.hasWeapon}}
    <div class="weapon-group">
        <div class="group-header flexrow">
            <h4>weapons</h4>
            <div class="item-create" data-type="weapon">new weapon</div>
        </div>
        {{#each items as |item|}}
        {{#if item.isWeapon}}
        <div class=" item item-row flexrow" data-item-id="{{item._id}}" >
            <div class="rollable" data-type="weapon" data-item-id="{{item._id}}">{{item.name}}</div>
            {{#if item.flags.isFav}}
            <div class="toggle-fav"><i class="fa-solid fa-star"></i></div>
            {{/if}}
            {{#unless item.flags.isFav}}
            <div class="toggle-fav"><i class="fa-regular fa-star"></i></div>
            {{/unless}}
            <div class="item-edit" data-item-id="{{item._id}}">edit</div>
            <div class="item-delete" data-item-id="{{item._id}}">delete</div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}
    {{#if actor.hasExplosive}}
    <div class="explosives-group">
        <div class="group-header flexrow">
            <h4>explosives</h4>
            <div class="item-create" data-type="explosive">new explosive</div>
        </div>
        {{#each items as |item|}}
        {{#if item.isExplosive}}
        <div class=" item item-row flexrow " data-item-id="{{item._id}}">
            <div>{{item.name}}</div>
            {{#if item.flags.isFav}}
            <div class="toggle-fav"><i class="fa-solid fa-star"></i></div>
            {{/if}}
            {{#unless item.flags.isFav}}
            <div class="toggle-fav"><i class="fa-regular fa-star"></i></div>
            {{/unless}}
            <div class="item-edit" data-item-id="{{item._id}}">edit</div>
            <div class="item-delete" data-item-id="{{item._id}}">delete</div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}
    {{#if actor.hasArmor}}
    <div class="armor-group">
        <div class="group-header flexrow">
            <h4>armor</h4>
            <div class="item-create" data-type="armor">new armor</div>
        </div>
        {{#each items as |item|}}
        {{#if item.isArmor}}
        <div class=" item item-row flexrow " data-item-id="{{item._id}}">
            <div class="rollable" data-type="armor">{{item.name}}</div>
             {{#if item.flags.isEquipped}}
            <div class="toggle-equip"><i class="fa-solid fa-shield"></i></div>
            {{/if}}
            {{#unless item.flags.isEquipped}}
            <div class="toggle-equip"><i class="fa-regular fa-shield"></i></div>
            {{/unless}}
            {{#if item.flags.isFav}}
            <div class="toggle-fav"><i class="fa-solid fa-star"></i></div>
            {{/if}}
            {{#unless item.flags.isFav}}
            <div class="toggle-fav"><i class="fa-regular fa-star"></i></div>
            {{/unless}}
            <div class="item-edit" data-item-id="{{item._id}}">edit</div>
            <div class="item-delete" data-item-id="{{item._id}}">delete</div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}
    {{#if actor.hasGear}}
    <div class="gear-group">
        <div class="group-header flexrow">
            <h4>gear</h4>
            <div class="item-create" data-type="gear">new gear</div>
        </div>
        {{#each items as |item|}}
        {{#if item.isGear}}
        <div class="item-row flexrow">
            <div class="item-icon"><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="25"
                    width="25" /></div>
            <div>{{item.name}}</div>
            {{#if item.system.isBroken}}
            <div class="broken">broken {{item.system.isBroken}}</div>
            {{/if}}
            {{#unless item.system.isBroken}}
            <div class="hold"></div>
            {{/unless}}
            <div class="button-group item" data-item-id="{{item._id}}">
                {{#if item.flags.isFav}}
            <div class="toggle-fav"><i class="fa-solid fa-star"></i></div>
            {{/if}}
            {{#unless item.flags.isFav}}
            <div class="toggle-fav"><i class="fa-regular fa-star"></i></div>
            {{/unless}}
                <div class="item-edit" data-item-id="{{item._id}}">edit</div>
                <div class="item-delete" data-item-id="{{item._id}}">delete</div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}
    {{#if actor.hasDrone}}
    <div class="drone-group">
        <div class="group-header flexrow">
            <h4>drone</h4>
            <div class="item-create" data-type="drone">new drone</div>
        </div>
        {{#each items as |item|}}
        {{#if item.isDrone}}
         <div class="item item-row flexrow " data-item-id="{{item._id}}">
            <div>{{item.name}}</div>
            <div class="drone-attack rollable" data-type="drone-attack"  data-item-id="{{item._id}}"><i class="fa-solid fa-gun"></i></div>
            <div class="drone-armor rollable" data-type="drone-armor" data-item-id="{{item._id}}"><i class="fa-solid fa-shield"></i></div>
            {{#if item.flags.isEquipped}}
            <div class="toggle-equip" ><i class="fa-solid fa-robot"></i></div>
            {{/if}}
            {{#unless item.flags.isEquipped}}
            <div class="toggle-equip"><i class="fa-regular fa-robot"></i></div>
            {{/unless}}
            {{#if item.flags.isFav}}
            <div class="toggle-fav"><i class="fa-solid fa-star"></i></div>
            {{/if}}
            {{#unless item.flags.isFav}}
            <div class="toggle-fav"><i class="fa-regular fa-star"></i></div>
            {{/unless}}
            <div class="item-edit" data-item-id="{{item._id}}">edit</div>
            <div class="item-delete" data-item-id="{{item._id}}">delete</div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}
    {{#if actor.hasNeurocaster}}
    <div class="neurocaster-group">
        <div class="group-header flexrow">
            <h4>neurocaster</h4>
            <div class="item-create" data-type="neurocaster">new neurocaster</div>
        </div>
        {{#each items as |item|}}
        {{#if item.isNeurocaster}}
         <div class=" item item-row flexrow " data-item-id="{{item._id}}">
            <div>{{item.name}}</div>
            {{#if item.flags.isEquipped}}
            <div class="toggle-equip"><i class="fa-solid fa-head-side-gear"></i></div>
            {{/if}}
            {{#unless item.flags.isEquipped}}
            <div class="toggle-equip"><i class="fa-light fa-head-side-gear"></i></div>
            {{/unless}}
            {{#if item.flags.isFav}}
            <div class="toggle-fav"><i class="fa-solid fa-star"></i></div>
            {{/if}}
            {{#unless item.flags.isFav}}
            <div class="toggle-fav"><i class="fa-regular fa-star"></i></div>
            {{/unless}}
            <div class="item-edit" data-item-id="{{item._id}}">edit</div>
            <div class="item-delete" data-item-id="{{item._id}}">delete</div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}
</div>