<div class="container grid col-60-40">
    <div class="left-col">
        <div class="flexcol">
            <div class="fs-400 fw-800 all-caps border-thick margin-small padding-small">{{localize "estate.UI.JOURNEY"}}
            </div>
            <div class="border-3-4-thick flexcol padding-small margin-small margin-top-close">
                <div class="goal-group grid col-30-70 fs-300 margin-small border-bottom-thin">
                    <label for="goal" class="all-caps fw-700 middle">{{localize "estate.UI.GOAL"}}</label>
                    <div contenteditable="true" id="{{actor._id}}-goal-edit" class="input-text align-start" name="system.journey.goal"
                        data-field="system.journey.goal">{{{actor.system.journey.goal}}}
                    </div>
                </div>
                <div class="threat-group grid col-30-70 fs-300 margin-small border-bottom-thin">
                    <label for="threat" class="all-caps fw-700 middle">{{localize "estate.UI.THREAT"}}</label>
                    <div contenteditable="true" id="{{actor._id}}-threat-edit" class="input-text align-start" name="system.journey.threat"
                        data-field="system.journey.threat">
                        {{{actor.system.journey.threat}}}
                    </div>
                </div>
            </div>
        </div>

        <div class="container flex-col margin-top-large">
            <div class="title fs-400 fw-800 all-caps margin-small padding-small border-thick">{{localize
                "estate.UI.NOTES"}}</div>
            <div class="full-size border-thick margin-small padding-small margin-top-close min-h-200px">
                {{editor notesHTML target="system.notes" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>

    <div class="right-col">
        <div class="tension-group flexcol margin-top-med">
            <div class="grid cols-4-25 all-caps fw-600 fs-300 border-bottom-thin">
                <div class="name ">{{localize "estate.UI.TENSION"}}</div>
                <div class="type ">&nbsp;</div>
                <div class="bonus center fs-200">{{localize "estate.UI.RATING"}}</div>
                <div class="item-create align-bottom mi-small text-right" data-type="tension" title="{{localize "estate.UI.CREATE"}} {{localize "estate.UI.TENSION"}}">&plus;</div>
            </div>
            {{#each items as |item|}}
            {{#if item.isTension}}

            <div class="item-row grid five-col fs-300 fw-400 middle w-100 border-bottom-thin item" data-item-id="{{item._id}}">

                <div class="show-details mw-25px clickable" data-item-id="{{item._id}}">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>

                <div>{{#actorName item.system.actorId}}{{/actorName}}</div>
                <div class="type ">&nbsp;</div>
                <div class="stat center"><span class="change-tension" data-item-id="{{item._id}}" data-type="minus" title="{{localize "estate.UI.TENSION_DOWN"}}">
                    <i class="fa-solid fa-square-minus"></i></span> {{item.system.score}} <span class="change-tension" data-item-id="{{item._id}}" data-type="plus" title="{{localize "estate.UI.TENSION_UP"}}">
                    <i class="fa-solid fa-square-plus"></i></span>
                </div>
                <div class="button-group grid two-col mw-50px middle" data-item-id="{{item._id}}">
                    <div class="item-edit" data-item-id="{{item._id}}" title="{{localize "estate.UI.EDIT"}}"><i class="fa-solid fa-pen-to-square"></i>
                    </div>
                    <div class="item-delete" data-item-id="{{item._id}}" title="{{localize "estate.UI.DELETE"}}"><i class="fa-solid fa-trash"></i></div>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>