<div>
    <div class="flexrow">
        <div>
            Strength {{actor.system.strength}}
             <input type="text" name="system.strength" value="{{actor.system.strength}}" />
        </div>
        <div>
            Agility
            <input type="text" name="system.agility" value="{{actor.system.agility}}" data-dtype="Number"/>
        </div>
        <div>
            Wits
            <input type="text" name="system.wits" value="{{actor.system.wits}}" data-dtype="Number"/>
        </div>
        <div>
            Empathy
            <input type="text" name="system.empathy" value="{{actor.system.empathy}}" data-dtype="Number"/>
        </div>
    </div>
</div>