<div class="grid gap-small">

    <div class="flexcol  border-3-4-thick padding-small">
        <div class="grid cols-4-25">
            <div class="grid border-thick margin-small padding-small">
                <div class="rollable center all-caps fw-700" data-type="attribute" data-attribute="strength">{{localize
                    "estate.ATTRIBUTE.STR"}}
                </div>
                <div class="input-container center fs-600 fw-700 w-100">
                    <input type="number" name="system.strength" value="{{actor.system.strength}}" style="height: 100%;"
                        data-dtype="Number" />
                </div>
            </div>
            <div class="grid border-thick margin-small padding-small">
                <div class="rollable center all-caps fw-700" data-type="attribute" data-attribute="agility">
                    {{localize "estate.ATTRIBUTE.AGI"}}</div>
                <div class="input-container center fs-600 fw-700 w-100">
                    <input type="number" name="system.agility" value="{{actor.system.agility}}" style="height: 100%;"
                        data-dtype="Number" />
                </div>
            </div>
            <div class="grid border-thick margin-small padding-small">
                <div class="rollable center all-caps fw-700" data-type="attribute" data-attribute="wits">
                    {{localize "estate.ATTRIBUTE.WIT"}}</div>
                <div class="input-container center fs-600 fw-700 w-100">
                    <input type="number" name="system.wits" value="{{actor.system.wits}}" style="height: 100%;"
                        data-dtype="Number" />
                </div>
            </div>
            <div class="grid border-thick margin-small padding-small">
                <div class="rollable center all-caps fw-700" data-type="attribute" data-attribute="empathy">
                    {{localize "estate.ATTRIBUTE.EMP"}}</div>
                <div class="input-container center fs-600 fw-700 w-100">
                    <input type="number" name="system.empathy" value="{{actor.system.empathy}}" style="height: 100%;"
                        data-dtype="Number" />
                </div>
            </div>
        </div>
        <div class="flexrow">
            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.HEALTH"}}
                <div class="input-container mi-small center"> <input type="text" name="system.health.value"
                        value="{{actor.system.health.value}}" style="width: 50px" data-dtype="Number" /></div>
                <div class="fw-500 fs-300 justify flexrow">
                    <div>/</div>
                    <div> {{actor.system.health.max}}</div>
                </div>
            </div>



            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.HOPE"}}
                <div class="input-container mi-small center">
                    <input type="number" name="system.hope.value" value="{{actor.system.hope.value}}"
                        data-dtype="Number" />
                </div>
                <div class="fw-500 fs-300 justify flexrow">
                    <div>/</div>
                    <div> {{actor.system.hope.max}}</div>
                </div>
            </div>
        </div>
        <div class="flexrow">
            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.BLISS"}}
                <div class="input-container mi-small center">
                    <input type="number" name="system.bliss" value="{{actor.system.bliss}}" data-dtype="Number" />
                </div>
            </div>

            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.PERM"}}
                <div class="input-container mi-small center">
                    <input type="number" name="system.permanent" value="{{actor.system.permanent}}"
                        data-dtype="Number" />
                </div>
            </div>
        </div>
        <div class="flexrow gap-small">
            <div class="flexcol padding-small">
                <div class="flexcol margin-top-med">
                    
                    <div class="grid cols-4-25 all-caps fw-600 border-bottom-thin">
                        <div class="name ">{{localize "estate.UI.TALENT"}}</div>
                        <div class="type ">{{localize "estate.UI.TYPE"}}</div>
                        <div class="bonus center">{{localize "estate.UI.BONUS"}}</div>
                        <div class="item-create align-bottom mi-small text-right" data-type="talent">&plus;</div>
                    </div>
                    <div class="talent-group list">
                    {{#each items as |talent|}}
                    {{#if talent.isTalent}}
                    <div class="grid cols-4-25 all-caps fw-500 fs-200 align-start w-100 border-bottom-thin">
                        <div class="item" data-item-id="{{talent._id}}">{{talent.name}}</div>
                        <div class="modify text-left overflow-elipsis">{{talent.system.type}}</div>
                        <div class="mod center">{{talent.system.modifier.value}}</div>
                        <div class="button-group align-bottom flexrow text-right justify-content-end">
                            <div class="item-edit mw-fit" data-item-id="{{talent._id}}"><i class="fa-solid fa-pen-to-square"></i></div>
                            <div class="item-delete mw-fit" data-item-id="{{talent._id}}"><i class="fa-solid fa-trash"></i></div>
                        </div>

                    </div>
                    
                    {{/if}}
                    {{/each}}
                    </div>
                </div>
                <div class="flexcol margin-top-med">
                    <div class="grid cols-5-20 all-caps fw-600 border-bottom-thin">
                        <div class="name ">{{localize "estate.UI.INJURY"}}</div>
                        <div class="type ">{{localize "estate.UI.TYPE"}}</div>
                        <div class="bonus center">{{localize "estate.UI.PENALTY"}}</div>
                        <div class="permanent center">{{localize "estate.UI.PERMANENT"}}</div>
                        <div class="item-create align-bottom mi-small text-right" data-type="injury">&plus;</div>
                    </div>
                    {{#each items as |injury|}}
                    {{#if injury.isInjury}}
                    <div class="grid cols-5-20 all-caps fw-500 fs-200 align-start w-100 border-bottom-thin">
                        <div class="item" data-item-id="{{injury._id}}">{{injury.name}}</div>
                        <div class="modify text-left overflow-elipsis">{{injury.system.type}}</div>
                        <div class="mod center">&minus;{{injury.system.modifier.value}}</div>
                        <div class="mod center">{{#if injury.system.isPermanent}}{{localize "estate.UI.YES"}}{{else}}{{localize "estate.UI.NO"}}{{/if}}</div>
                        <div class="button-group align-bottom flexrow text-right justify-content-end">
                            <div class="item-edit mw-fit" data-item-id="{{injury._id}}"><i class="fa-solid fa-pen-to-square"></i></div>
                            <div class="item-delete mw-fit" data-item-id="{{injury._id}}"><i class="fa-solid fa-trash"></i></div>
                        </div>
                        
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="flexcol">
                    <h4>Traumas</h4>
                    {{#each items as |trauma|}}
                    {{#if trauma.isTrauma}}
                    <div class="flexrow">
                        <div class="item" data-item-id="{{trauma._id}}">{{trauma.name}}</div>
                        <div class="item-edit" data-item-id="{{trauma._id}}">edit </div>
                        <div class="item-delete" data-item-id="{{trauma._id}}">delete</div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="flexcol">
                favorite items
            </div>

        </div>
    </div>



</div>