<div class="grid gap-small">
    <div class="flexcol">
        {{> "systems/electric-state/templates/actors/parts/stats.hbs"}}
        <div class="flexrow">
            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.HEALTH"}}
                <div class="input-container mi-small center"> <input type="number" name="system.health.value"
                        value="{{actor.system.health.value}}" style="width: 50px" data-dtype="Number" /></div>
                <div class="fw-500 fs-300 justify flexrow">
                    <div>/</div>
                    <div> {{actor.system.health.max}}</div>
                </div>
            </div>
            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.HOPE"}}
                <div class="input-container mi-small center">
                    <input type="number" name="system.hope.value" value="{{actor.system.hope.value}}"
                        data-dtype="Number" />
                </div>
                <div class="fw-500 fs-300 justify flexrow">
                    <div>/</div>
                    <div> {{actor.system.hope.max}}</div>
                </div>
            </div>
        </div>
        <div class="flexrow">
            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.BLISS"}}
                <div class="input-container mi-small center">
                    <input type="number" name="system.bliss" value="{{actor.system.bliss}}" data-dtype="Number" />
                </div>
            </div>

            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.PERM"}}
                <div class="input-container mi-small center">
                    <input type="number" name="system.permanent" value="{{actor.system.permanent}}"
                        data-dtype="Number" />
                </div>
            </div>
        </div>
        <div class="flexrow gap-small">
            <div class="grid padding-small margin-small">
                {{> "systems/electric-state/templates/actors/parts/talents.hbs"}}
                <div class="flexcol margin-top-med border-thick padding-small">
                    <div class="grid cols-5-20 all-caps fw-600 border-bottom-thin">
                        <div class="name overflow-elipsis">{{localize "estate.UI.INJURY"}}</div>
                        <div class="type overflow-elipsis">{{localize "estate.UI.TYPE"}}</div>
                        <div class="bonus center">{{localize "estate.UI.MOD"}}</div>
                        <div class="permanent center">{{localize "estate.UI.PERMANENT"}}</div>
                        <div class="item-create align-bottom mi-small text-right" data-type="injury">&plus;</div>
                    </div>
                    {{#each items as |injury|}}
                    {{#if injury.isInjury}}
                    <div class="grid cols-5-20 all-caps fw-500 fs-200 align-start w-100 border-bottom-thin">
                        <div class="item overflow-elipsis" data-item-id="{{injury._id}}">{{injury.name}}</div>
                        <div class="modify text-left overflow-elipsis">{{injury.system.type}}</div>
                        <div class="mod center">&minus;{{injury.system.modifier.value}}</div>
                        <div class="mod center">{{#if injury.system.isPermanent}}{{localize
                            "estate.UI.YES"}}{{else}}{{localize "estate.UI.NO"}}{{/if}}</div>
                        <div class="button-group align-bottom flexrow text-right justify-content-end"
                            data-item-id="{{injury._id}}">
                            <div class="item-edit mw-fit"><i class="fa-solid fa-pen-to-square"></i></div>
                            <div class="item-delete mw-fit"><i class="fa-solid fa-trash"></i></div>
                        </div>

                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="flexcol margin-top-med border-thick padding-small">
                    <div class="grid cols-4-25 all-caps fw-600 border-bottom-thin">
                        <div class="name ">{{localize "estate.UI.TRAUMA"}}</div>
                        <div class="type ">{{localize "estate.UI.TYPE"}}</div>
                        <div class="bonus center">{{localize "estate.UI.PENALTY"}}</div>
                        <div class="item-create align-bottom mi-small text-right" data-type="trauma">&plus;</div>
                    </div>
                    {{#each items as |trauma|}}
                    {{#if trauma.isTrauma}}
                    <div class="grid cols-4-25 all-caps fw-500 fs-200 align-start w-100 border-bottom-thin">
                        <div class="item overflow-elipsis" data-item-id="{{trauma._id}}">{{trauma.name}}</div>
                        <div class="modify text-left overflow-elipsis">{{trauma.system.type}}</div>
                        <div class="mod center">&minus;{{trauma.system.modifier.value}}</div>
                        <div class="button-group align-bottom flexrow text-right justify-content-end"
                            data-item-id="{{trauma._id}}">
                            <div class="item-edit mw-fit"><i class="fa-solid fa-pen-to-square"></i></div>
                            <div class="item-delete mw-fit"><i class="fa-solid fa-trash"></i></div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="grid padding-small h-3">
                <div class="fs-400 fw-800 all-caps border-thick margin-small padding-small">{{localize
                    "estate.HEAD.FAVS"}}</div>
                <div class="border-3-4-thick fexcol padding-small margin-small margin-top-close">

                    {{#each items as |item|}}
                    {{#if item.isWeapon}}
                    {{#if item.flags.isFav}}
                    <div class=" item item-row flexrow  border-bottom-thin space-between gap-small"
                        data-item-id="{{item._id}}">
                        <div class="rollable mw-65px" data-type="weapon" data-item-id="{{item._id}}">
                            <div class="item tooltip no-break mw-65px">
                                <span class="name block overflow-elipsis w-100 mw-65px">
                                    {{item.name}}
                                </span>

                                <span class="tooltiptext">{{localize "estate.UI.ROLL"}} {{item.name}}</span>
                            </div>
                        </div>

                        <div class="stat-group grid three-col">
                            <div class="no-break overflow-elipsis" >{{#dataLocalization item.system.type 'w_type'}}{{/dataLocalization}}</div>  
                            <div>&plus; {{item.system.modifier.value}}</div>
                            <div>{{item.system.damage}}&nbsp;{{localize "estate.UI.DMG"}}</div>
                        </div>

                        <div class="button-group  grid two-col shrink mw-30px text-right justify-content-end"
                            data-item-id="{{item._id}}">
                            {{#if item.flags.isFav}}
                            <div class="toggle-fav tooltip">
                                <i class="fa-solid fa-star"></i>
                                <span class="tooltiptext">{{localize "estate.UI.TOGGLEFAV"}}</span>
                            </div>
                            {{/if}}

                            <div class="item-edit tooltip" data-item-id="{{item._id}}">
                                <i class="fa-solid fa-pen-to-square"></i>
                                <span class="tooltiptext">{{localize "estate.UI.EDIT"}}</span>
                            </div>

                        </div>
                    </div>

                    {{/if}}
                    {{/if}}
                    {{/each}}

                     {{#each items as |item|}}
                    {{#if item.isExplosive}}
                    {{#if item.flags.isFav}}
                    <div class="flexrow border-bottom-thin space-between gap-med" data-item-id="{{item._id}}">
                        <div class="rollable " data-type="explosive" data-item-id="{{item._id}}">
                            <div class="item tooltip no-break mw-100px">
                                <span class="name block overflow-elipsis w-100">
                                    {{item.name}}
                                </span>
                                <span class="tooltiptext">{{localize "estate.UI.ROLL"}} {{item.name}}</span>
                            </div>
                        </div>

                        <div class="stat-group grid two-col gap-small middle">
                            <div>&plus; {{item.system.modifier.value}}</div>
                            <div>{{item.system.blast}}&nbsp;{{localize "estate.UI.BP"}}</div>
                        </div>

                        <div class="button-group grid two-col shrink mw-30px text-right justify-content-end"
                            data-item-id="{{item._id}}">
                            {{#if item.flags.isFav}}
                            <div class="toggle-fav tooltip">
                                <i class="fa-solid fa-star"></i>
                                <span class="tooltiptext">{{localize "estate.UI.TOGGLEFAV"}}</span>
                            </div>
                            {{/if}}
                            <div class="item-edit tooltip">
                                <i class="fa-solid fa-pen-to-square"></i>
                                <span class="tooltiptext">{{localize "estate.UI.EDIT"}}</span>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{/each}}

                     {{#each items as |item|}}
                    {{#if item.isArmor}}
                    {{#if item.flags.isFav}}
                    <div class="item flexrow  border-bottom-thin space-between gap-med" data-item-id="{{item._id}}">
                        <div class="item rollable mw-100px" data-type="armor" data-item-id="{{item._id}}">
                            <div class="item tooltip no-break mw-100px">
                                <span class="name block overflow-elipsis w-100">
                                    {{item.name}}
                                </span>
                                <span class="tooltiptext">{{localize "estate.UI.ROLL"}} {{item.name}}</span>
                            </div>
                        </div>

                        {{#if item.flags.isEquipped}}
                        <div class="toggle-equip tooltip">
                            <i class="fa-solid fa-shield"></i>
                            <span class="tooltiptext">{{localize "estate.UI.UNEQUIP"}}</span>
                        </div>
                        {{/if}}
                        {{#unless item.flags.isEquipped}}
                        <div class="toggle-equip tooltip">
                            <i class="fa-regular fa-shield"></i>
                            <span class="tooltiptext">{{localize "estate.UI.EQUIP"}}</span>
                        </div>
                        {{/unless}}

                        <div class="stat-group">
                            &plus; {{item.system.modifier.value}}
                        </div>

                        <div class="button-group grid two-col shrink mw-30px text-right justify-content-end"
                            data-item-id="{{item._id}}">
                            {{#if item.flags.isFav}}
                            <div class="toggle-fav tooltip">
                                <i class="fa-solid fa-star"></i>
                                <span class="tooltiptext">{{localize "estate.UI.TOGGLEFAV"}}</span>
                            </div>
                            {{/if}}
                            <div class="item-edit tooltip">
                                <i class="fa-solid fa-pen-to-square"></i>
                                <span class="tooltiptext">{{localize "estate.UI.EDIT"}}</span>
                            </div>
                        </div>
                    </div>

                    {{/if}}
                    {{/if}}
                    {{/each}}

                    {{#each items as |item|}}
                    {{#if item.isDrone}}
                    {{#if item.flags.isFav}}
                    <div class="flexrow border-bottom-thin space-between gap-med">
                        <div class="item tooltip mw-100px" data-item-id="{{item._id}}">
                            <span class="name block overflow-elipsis w-100">
                                {{item.name}}
                            </span>

                            <span class="tooltiptext">{{item.name}}</span>
                        </div>

                        <div class="item attack-group grid three-col" data-item-id="{{item._id}}">
                            {{#if item.flags.isEquipped}}
                            <div class="toggle-equip mw-50px tooltip"><i class="fa-solid fa-robot"></i>
                                <span class="tooltiptext">{{localize "estate.UI.UNEQUIP"}}</span>
                            </div>
                            {{/if}}
                            {{#unless item.flags.isEquipped}}
                            <div class="toggle-equip mw-50px tooltip"><i class="fa-regular fa-robot"></i>
                                <span class="tooltiptext">{{localize "estate.UI.EQUIP"}}</span>
                            </div>
                            {{/unless}}
                            <div class="drone-attack rollable mw-50px tooltip" data-type="drone-attack"
                                data-item-id="{{item._id}}"><i class="fa-solid fa-gun"></i>
                                <span class="tooltiptext">{{localize "estate.UI.ROLL"}} {{localize
                                    "estate.UI.ATTACK"}}</span>
                            </div>
                            <div class="drone-armor rollable mw-50px tooltip" data-type="drone-armor"
                                data-item-id="{{item._id}}"><i class="fa-solid fa-shield"></i>
                                <span class="tooltiptext">{{localize "estate.UI.ROLL"}} {{localize
                                    "estate.UI.ARMOR"}}</span>
                            </div>

                        </div>

                        <div class="button-group grid two-col shrink mw-30px text-right justify-content-end"
                            data-item-id="{{item._id}}">
                            {{#if item.flags.isFav}}
                            <div class="toggle-fav tooltip">
                                <i class="fa-solid fa-star"></i>
                                <span class="tooltiptext">{{localize "estate.UI.TOGGLEFAV"}}</span>
                            </div>
                            {{/if}}
                            <div class="item-edit tooltip">
                                <i class="fa-solid fa-pen-to-square"></i>
                                <span class="tooltiptext">{{localize "estate.UI.EDIT"}}</span>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{/each}}

                    {{#each items as |item|}}
                    {{#if item.isNeurocaster}}
                    {{#if item.flags.isFav}}
                    <div class=" item item-row flexrow  border-bottom-thin space-between gap-med"
                        data-item-id="{{item._id}}">
                        <div class="item tooltip mw-75px">
                            <span class="name block overflow-elipsis w-100">
                                {{item.name}}
                            </span>
                            <span class="tooltiptext">{{item.name}}</span>
                        </div>

                        <div class="stat-group grid col-35-fr center middle">
                            {{#if item.flags.isEquipped}}
                            <div class="toggle-equip mw-45px tooltip" ><i class="fa-solid fa-head-side-gear"></i>
                            <span class="tooltiptext">{{localize "estate.UI.UNEQUIP"}}</span></div>
                            {{/if}}
                            {{#unless item.flags.isEquipped}}
                            <div class="toggle-equip mw-45px tooltip"><i class="fa-light fa-head-side-gear"></i>
                            <span class="tooltiptext">{{localize "estate.UI.EQUIP"}}</span>
                            </div>
                            {{/unless}}
                            <div class="action-group flexrow gap-x-small" data-item-id="{{item._id}}">
                                <div class="rollable tooltip" data-type="neurocaster" data-cast="info">
                                    <i class="fa-solid fa-print-magnifying-glass"></i>
                                    <span class="tooltiptext">{{localize "estate.UI.INFO"}}</span>
                                </div>
                                <div class="rollable tooltip" data-type="neurocaster" data-cast="hack">
                                    <i class="fa-solid fa-gear-code"></i>
                                    <span class="tooltiptext">{{localize "estate.UI.HACK"}}</span>
                                </div>
                                <div class="rollable tooltip" data-type="neurocaster" data-cast="coms">
                                    <i class="fa-solid fa-signal-stream"></i>
                                    <span class="tooltiptext">{{localize "estate.UI.COMS"}}</span>
                                </div>
                                <div class="rollable tooltip" data-type="neurocaster" data-cast="block">
                                    <i class="fa-solid fa-signal-stream-slash"></i>
                                    <span class="tooltiptext">{{localize "estate.UI.BLOCK"}}</span>
                                </div>
                                <div class="rollable tooltip" data-type="neurocaster" data-cast="combat">
                                    <i class="fa-solid fa-hand-fist"></i>
                                    <span class="tooltiptext">{{localize "estate.UI.COMBAT"}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="button-group grid two-col shrink mw-30px text-right justify-content-end"
                            data-item-id="{{item._id}}">
                            {{#if item.flags.isFav}}
                            <div class="toggle-fav tooltip">
                                <i class="fa-solid fa-star"></i>
                                <span class="tooltiptext">{{localize "estate.UI.TOGGLEFAV"}}</span>
                            </div>
                            {{/if}}
                            <div class="item-edit tooltip">
                                <i class="fa-solid fa-pen-to-square"></i>
                                <span class="tooltiptext">{{localize "estate.UI.EDIT"}}</span>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{/each}}

                    {{#each items as |item|}}
                    {{#if item.isGear}}
                    {{#if item.flags.isFav}}
                    <div class="flexrow border-bottom-thin space-between gap-med">
                        <div class="item tooltip mw-100px">
                            <span class="name block overflow-elipsis w-100">
                                {{item.name}}
                            </span>

                            <span class="tooltiptext">{{item.name}}</span>
                        </div>
                        {{#unless item.system.isBroken}}
                        {{#if item.system.isModifier}}
                        <div class="modifier-group grid two-col">
                            <div class="bonus no-break">
                                &plus; {{item.system.modifier.value}}
                            </div>
                            <div class="attribute no-break">
                                {{#dataLocalization item.system.attribute "attribute"}}{{this}}{{/dataLocalization}}
                            </div>
                        </div>
                        {{/if}}
                        {{#if item.system.isConsumable}}
                        <div class="uses">
                            <div class="item-use grid two-col" data-item-id="{{item._id}}">
                                <div class="label-text">
                                    {{localize "estate.UI.USES"}}:
                                </div>
                                <div class="use-count">
                                    {{item.system.uses}}
                                </div>
                            </div>
                        </div>
                        {{/if}}

                        {{/unless}}

                        {{#if item.system.isBroken}}
                        <div class="broken">{{localize "estate.UI.BUSTED"}}</div>
                        {{/if}}


                        <div class="button-group grid two-col shrink mw-30px text-right justify-content-end"
                            data-item-id="{{item._id}}">
                            {{#if item.flags.isFav}}
                            <div class="toggle-fav tooltip"><i class="fa-solid fa-star"></i> <span
                                    class="tooltiptext">{{localize "estate.UI.TOGGLEFAV"}}</span></div>
                            {{/if}}
                            <div class="item-edit tooltip" data-item-id="{{item._id}}"><i
                                    class="fa-solid fa-pen-to-square"></i>
                                <span class="tooltiptext">{{localize "estate.UI.EDIT"}}</span>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </div>
            </div>

        </div>
    </div>



</div>