<div class="grid gap-small">
    <div class="flexcol">
         {{> "systems/electric-state/templates/actors/parts/stats.hbs"}}
        <div class="flexrow">
            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.HEALTH"}}
                <div class="input-container mi-small center"> <input type="text" name="system.health.value"
                        value="{{actor.system.health.value}}" style="width: 50px" data-dtype="Number" /></div>
                <div class="fw-500 fs-300 justify flexrow">
                    <div>/</div>
                    <div> {{actor.system.health.max}}</div>
                </div>
            </div>
            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.HOPE"}}
                <div class="input-container mi-small center">
                    <input type="number" name="system.hope.value" value="{{actor.system.hope.value}}"
                        data-dtype="Number" />
                </div>
                <div class="fw-500 fs-300 justify flexrow">
                    <div>/</div>
                    <div> {{actor.system.hope.max}}</div>
                </div>
            </div>
        </div>
        <div class="flexrow">
            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.BLISS"}}
                <div class="input-container mi-small center">
                    <input type="number" name="system.bliss" value="{{actor.system.bliss}}" data-dtype="Number" />
                </div>
            </div>

            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.PERM"}}
                <div class="input-container mi-small center">
                    <input type="number" name="system.permanent" value="{{actor.system.permanent}}"
                        data-dtype="Number" />
                </div>
            </div>
        </div>
        <div class="flexrow gap-small">
            <div class="flexcol padding-small">
                {{> "systems/electric-state/templates/actors/parts/talents.hbs"}}
                <div class="flexcol margin-top-med">
                    <div class="grid cols-5-20 all-caps fw-600 border-bottom-thin">
                        <div class="name overflow-elipsis">{{localize "estate.UI.INJURY"}}</div>
                        <div class="type overflow-elipsis">{{localize "estate.UI.TYPE"}}</div>
                        <div class="bonus center">{{localize "estate.UI.MOD"}}</div>
                        <div class="permanent center">{{localize "estate.UI.PERMANENT"}}</div>
                        <div class="item-create align-bottom mi-small text-right" data-type="injury">&plus;</div>
                    </div>
                    {{#each items as |injury|}}
                    {{#if injury.isInjury}}
                    <div class="grid cols-5-20 all-caps fw-500 fs-200 align-start w-100 border-bottom-thin">
                        <div class="item overflow-elipsis" data-item-id="{{injury._id}}">{{injury.name}}</div>
                        <div class="modify text-left overflow-elipsis">{{injury.system.type}}</div>
                        <div class="mod center">&minus;{{injury.system.modifier.value}}</div>
                        <div class="mod center">{{#if injury.system.isPermanent}}{{localize
                            "estate.UI.YES"}}{{else}}{{localize "estate.UI.NO"}}{{/if}}</div>
                        <div class="button-group align-bottom flexrow text-right justify-content-end">
                            <div class="item-edit mw-fit" data-item-id="{{injury._id}}"><i
                                    class="fa-solid fa-pen-to-square"></i></div>
                            <div class="item-delete mw-fit" data-item-id="{{injury._id}}"><i
                                    class="fa-solid fa-trash"></i></div>
                        </div>

                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="flexcol margin-top-med">
                    <div class="grid cols-4-25 all-caps fw-600 border-bottom-thin">
                        <div class="name ">{{localize "estate.UI.TRAUMA"}}</div>
                        <div class="type ">{{localize "estate.UI.TYPE"}}</div>
                        <div class="bonus center">{{localize "estate.UI.PENALTY"}}</div>
                        <div class="item-create align-bottom mi-small text-right" data-type="trauma">&plus;</div>
                    </div>
                    {{#each items as |trauma|}}
                    {{#if trauma.isTrauma}}
                    <div class="grid cols-4-25 all-caps fw-500 fs-200 align-start w-100 border-bottom-thin">
                        <div class="item overflow-elipsis" data-item-id="{{trauma._id}}">{{trauma.name}}</div>
                        <div class="modify text-left overflow-elipsis">{{trauma.system.type}}</div>
                        <div class="mod center">&minus;{{trauma.system.modifier.value}}</div>
                        <div class="button-group align-bottom flexrow text-right justify-content-end">
                            <div class="item-edit mw-fit" data-item-id="{{trauma._id}}"><i
                                    class="fa-solid fa-pen-to-square"></i></div>
                            <div class="item-delete mw-fit" data-item-id="{{trauma._id}}"><i
                                    class="fa-solid fa-trash"></i></div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="grid padding-small h-3">
                <div class="fs-400 fw-800 all-caps border-thick margin-small padding-small">{{localize "estate.HEAD.FAVS"}}</div>
                <div class="border-3-4-thick fexcol padding-small margin-small margin-top-close">
                    {{#each items as |item|}}
                    {{#if item.flags.isFav}}
                    {{#if item.isGear}}
                    <div class="item">
                        {{item.name}}</div>
                    {{/if}}
                    {{#if item.isArmor}}
                    <div class="item rollable" data-type="armor" data-item-id="{{item._id}}">
                        {{item.name}}</div>
                    {{/if}}
                    {{#if item.isExplosive}}
                    <div class="item">
                        {{item.name}}</div>
                    {{/if}}
                    {{#if item.isWeapon}}
                    <div class="item rollable" data-type="weapon" data-item-id="{{item._id}}">
                        {{item.name}}</div>
                    {{/if}}
                    {{#if item.isDrone}}
                    <div class="item">
                        {{item.name}}</div>
                    {{/if}}
                    {{#if item.isNeurocaster}}
                    <div class="item">
                        {{item.name}}</div>
                    {{/if}}

                    {{/if}}
                    {{/each}}
                </div>
            </div>

        </div>
    </div>



</div>