<div class="container grid col-60-40">
    <div class="left-col">
        <div class="flexcol">
            <div class="fs-400 fw-800 all-caps border-thick margin-small padding-small">{{localize "estate.UI.JOURNEY"}}
            </div>
            <div class="border-3-4-thick flexcol padding-small margin-small margin-top-close">
                {{#if actor.flags.electric-state.isEditGoal}}
                <div class="goal-group flexrow fs-300 margin-small border-bottom-thin">
                    <label for="goal" class="all-caps fw-700 middle">{{localize "estate.UI.GOAL"}}</label>
                    <textarea id="goal" class="input-text align-start" name="system.goal" placeholder="{{localize "
                        estate.UI.GOAL"}}">{{actor.system.goal}}</textarea>
                    <div class="edit-toggle align-bottom mi-small" data-edit="goal"><i
                            class="fa-solid fa-floppy-disk"></i></div>
                </div>
                {{/if}}
                {{#unless actor.flags.electric-state.isEditGoal}}
                <div class="goal-group grid two-col fs-300 margin-small border-bottom-thin">

                    <label for="goal" class="all-caps fw-700 middle">{{localize "estate.UI.GOAL"}}</label>
                    <div class="display flexrow w-100">
                    <div class="input-text align-start">{{actor.system.goal}}</div>
                    <div class="edit-toggle align-bottom " style="margin-left: -20px;" data-edit="goal"><i
                            class="fa-solid fa-pen-to-square"></i>
                    </div>
                    </div>
                </div>
                {{/unless}}
                <div class="threat-group flexrow fs-300 margin-small border-bottom-thin">
                    <label for="threat" class="all-caps fw-700 middle">{{localize "estate.UI.THREAT"}}</label>
                    <textarea id="threat" class="input-text align-start" name="system.threat" placeholder="{{localize "estate.UI.THREAT"}}">{{actor.system.threat}}</textarea>
                </div>
            </div>
        </div>

        <div class="container flex-col margin-top-large">
            <div class="title fs-400 fw-800 all-caps margin-small padding-small border-thick">{{localize
                "estate.UI.NOTES"}}</div>
            <div class="full-size border-thick margin-small padding-small margin-top-close min-h-200px">
                {{editor notesHTML target="system.notes" button=true owner=owner editable=editable}}
            </div>
        </div>

    </div>
    <div class="right-col">
        <div class="tension-group flexcol margin-top-med">
            <div class="grid cols-4-25 all-caps fw-600 fs-300 border-bottom-thin">
                <div class="name ">{{localize "estate.UI.TENSION"}}</div>
                <div class="type ">&nbsp;</div>
                <div class="bonus center fs-200">{{localize "estate.UI.RATING"}}</div>
                <div class="item-create align-bottom mi-small text-right" data-type="tension">&plus;</div>
            </div>
            {{#each items as |item|}}
            {{#if item.isTension}}

            <div class="item-row grid cols-4-25 fs-300 fw-400 middle w-100 border-bottom-thin">
                <div>{{#actorName item.system.actorId}}{{/actorName}}</div>
                <div class="type ">&nbsp;</div>
                <div class="stat center">{{item.system.score}}</div>
                <div class="button-group grid two-col mw-50px middle" data-item-id="{{item._id}}">
                    <div class="item-edit" data-item-id="{{item._id}}"><i class="fa-solid fa-pen-to-square"></i></div>
                    <div class="item-delete" data-item-id="{{item._id}}"><i class="fa-solid fa-trash"></i></div>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>