<div class="grid cols-4-25">
    <div class="grid border-thick margin-small padding-small">
        <div class="rollable center all-caps fw-700" data-type="attribute" data-attribute="strength">{{localize
            "estate.ATTRIBUTE.STR"}}
        </div>
        <div class="input-container center fs-600 fw-700 w-100">
            <input type="number" name="system.strength" value="{{actor.system.strength}}" style="height: 100%;"
                data-dtype="Number" />
        </div>
    </div>
    <div class="grid border-thick margin-small padding-small">
        <div class="rollable center all-caps fw-700" data-type="attribute" data-attribute="agility">
            {{localize "estate.ATTRIBUTE.AGI"}}</div>
        <div class="input-container center fs-600 fw-700 w-100">
            <input type="number" name="system.agility" value="{{actor.system.agility}}" style="height: 100%;"
                data-dtype="Number" />
        </div>
    </div>
    <div class="grid border-thick margin-small padding-small">
        <div class="rollable center all-caps fw-700" data-type="attribute" data-attribute="wits">
            {{localize "estate.ATTRIBUTE.WIT"}}</div>
        <div class="input-container center fs-600 fw-700 w-100">
            <input type="number" name="system.wits" value="{{actor.system.wits}}" style="height: 100%;"
                data-dtype="Number" />
        </div>
    </div>
    <div class="grid border-thick margin-small padding-small">
        <div class="rollable center all-caps fw-700" data-type="attribute" data-attribute="empathy">
            {{localize "estate.ATTRIBUTE.EMP"}}</div>
        <div class="input-container center fs-600 fw-700 w-100">
            <input type="number" name="system.empathy" value="{{actor.system.empathy}}" style="height: 100%;"
                data-dtype="Number" />
        </div>
    </div>
</div>
