<div class="grid gap-small">
    <div class="flexcol">
        <div class="flexrow">
            <div class="flexrow">
                <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                    {{localize "estate.UI.HULL"}}
                    <div class="input-container mi-small center"> 
                        <input type="text" name="system.hull.value" value="{{actor.system.hull.value}}" style="width: 50px" data-dtype="Number" />
                    </div>
                    <div>/</div>
                    <div class="input-container mi-small center">
                        <input type="text" name="system.hull.max" value="{{actor.system.hull.max}}" style="width: 50px" data-dtype="Number" />
                    </div>
                </div>
            </div>
            <div class="flexrow">
                <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                    {{localize "estate.UI.ARMOR"}}
                    <div class="input-container mi-small center">
                        <input type="text" name="system.armor" value="{{actor.system.armor}}" style="width: 50px" data-dtype="Number" />
                    </div>
                </div>
            </div>
        </div>
        <div class="flexrow">
            <div class="flexrow">
                <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                    {{localize "estate.UI.SPEED"}}
                    <div class="input-container mi-small center">
                        <input type="text" name="system.speed" value="{{actor.system.speed}}" style="width: 50px" data-dtype="Number" />
                    </div>
                </div>
            </div>
            <div class="flexrow">
                <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                    {{localize "estate.UI.MANEUVER"}}
                    <div class="input-container mi-small center"> 
                        <input type="text" name="system.maneuverability.value" value="{{actor.system.maneuverability.value}}" style="width: 50px" data-dtype="Number" />
                    </div>
                    <div>/</div>
                    <div class="input-container mi-small center">
                        <input type="text" name="system.maneuverability.max" value="{{actor.system.maneuverability.max}}" style="width: 50px" data-dtype="Number" />
                    </div>
                </div>
            </div>
        </div>
        <div class="flexrow">
            <div class="flexrow">
                <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                    {{localize "estate.UI.PASSENGERS"}}
                    <div class="input-container mi-small center"> 
                        <input type="text" name="system.passengers.count" value="{{actor.system.passengers.count}}" style="width: 50px" data-dtype="Number" />
                    </div>
                    <div>/</div>
                    <div class="input-container mi-small center">
                        <input type="text" name="system.passengers.max" value="{{actor.system.passengers.max}}" style="width: 50px" data-dtype="Number" />
                    </div>
                </div>
            </div>
            <div class="flexrow">
                <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                    {{localize "estate.UI.FUEL"}}
                    <div class="input-container mi-small center"> 
                        <input type="text" name="system.fuel.value" value="{{actor.system.fuel.value}}" style="width: 50px" data-dtype="Number" />
                    </div>
                    <div>/</div>
                    <div class="input-container mi-small center">
                        <input type="text" name="system.fuel.max" value="{{actor.system.fuel.max}}" style="width: 50px" data-dtype="Number" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>