<div class="grid gap-small">
    <div class="flexcol">
        <div class="flexrow">
            <div class="flexrow">
                <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                    {{localize "estate.UI.HULL"}}
                    <div class="input-container mi-small center"> 
                        <input type="text" name="system.hull.value" value="{{actor.system.hull.value}}" style="width: 50px" data-dtype="Number" />
                    </div>
                    <div>/</div>
                    <div class="input-container mi-small center">
                        <input type="text" name="system.hull.max" value="{{actor.system.hull.max}}" style="width: 50px" data-dtype="Number" />
                    </div>
                </div>
            </div>
            <div class="flexrow">
                <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                    {{localize "estate.UI.ARMOR"}}
                    <div class="input-container mi-small center">
                        <input type="text" name="system.armor" value="{{actor.system.armor}}" style="width: 50px" data-dtype="Number" />
                    </div>
                </div>
            </div>
        </div>
        <div class="flexrow">
            <div class="flexrow">
                <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                    {{localize "estate.UI.SPEED"}}
                    <div class="input-container mi-small center">
                        <input type="text" name="system.speed" value="{{actor.system.speed}}" style="width: 50px" data-dtype="Number" />
                    </div>
                </div>
            </div>
            <div class="flexrow">
                <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                    {{localize "estate.UI.MANEUVER"}}
                    <div class="input-container mi-small center"> 
                        <input type="text" name="system.maneuverability.value" value="{{actor.system.maneuverability.value}}" style="width: 50px" data-dtype="Number" />
                    </div>
                    <div>/</div>
                    <div class="input-container mi-small center">
                        <input type="text" name="system.maneuverability.max" value="{{actor.system.maneuverability.max}}" style="width: 50px" data-dtype="Number" />
                    </div>
                </div>
            </div>
        </div>
        <div class="flexrow">
            <div class="flexrow">
                <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                    {{localize "estate.UI.PASSENGERS"}}
                    <div class="input-container mi-small center"> 
                       {{actor.system.passengers.count}}
                    </div>
                    <div>/</div>
                    <div class="input-container mi-small center">
                        <input type="text" name="system.passengers.max" value="{{actor.system.passengers.max}}" style="width: 50px" data-dtype="Number" />
                    </div>
                </div>
            </div>
            <div class="flexrow">
                <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                    {{localize "estate.UI.FUEL"}}
                    <div class="input-container mi-small center"> 
                        <input type="text" name="system.fuel.value" value="{{actor.system.fuel.value}}" style="width: 50px" data-dtype="Number" />
                    </div>
                    <div>/</div>
                    <div class="input-container mi-small center">
                        <input type="text" name="system.fuel.max" value="{{actor.system.fuel.max}}" style="width: 50px" data-dtype="Number" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flexcol gap-small">
        <div class="passengers-group">
            <div class="group-header flexrow middle border-bottom-thin space-between gap-med fw-600 fs-200 all-caps">
                <div class="mw-150px flexrow middle">{{localize "estate.HEAD.NAME"}}</div>
                <div class="passenger-position">
                    <div>{{localize "estate.UI.POSITION"}}</div>
                </div>
                <div class="button-group mw-75px">
                    <div class="holder"></div>
                    <div class="fs-500">&plus;</div>
                    <div class="holder"></div>
                </div>
            </div>
            {{#each passengers as |passenger|}}
            <div class="passenger passenger-row flexrow middle border-bottom-thin space-between gap-med" data-passenger-id="{{passenger._id}}">
                <div class="mw-150px flexrow middle" data-type="actor" data-passenger-id="{{passenger._id}}">
                    <div class="name no-break middle">
                        {{passenger.name}}
                    </div>
                </div>
                <div>
                    <select class="passenger-position" style="width: 175px">
                         {{selectOptions @root.config.passengerOptions selected=passenger.position localize=true}} 
                    </select> 
                </div>
                <div class="button-group mw-75px" data-passenger-id="{{passenger._id}}">
                    <div class="remove-passenger"><i class="fa-solid fa-trash"></i></div>
                </div>
            </div>
            {{/each}}
        </div> 
    </div>
</div>