<div class="group-header flexrow middle border-bottom-thin space-between gap-med fw-600 fs-200 all-caps">
    <div class="mw-150px flexrow middle">{{localize "estate.UI.WEAPON"}}</div>
    <div class="stat-group grid five-col gap-med">
        <div>{{localize "estate.UI.BONUS"}}</div>
        <div>{{localize "estate.UI.TYPE"}}</div>
        <div>{{localize "estate.UI.DMG"}}</div>
        <div>{{localize "estate.UI.RANGE_MIN"}}</div>
        <div>{{localize "estate.UI.RANGE_MAX"}}</div>
    </div>
    <div class="button-group grid three-col mw-100px">
        <div class="holder"></div>
        <div class="item-create fs-500"  data-type="weapon">&plus;</div>
        <div class="holder"></div>
    </div>
</div>

{{#each items as |item|}}
{{#if item.isWeapon}}
<div class=" item item-row flexrow middle border-bottom-thin space-between gap-med w-100 draggable" draggable="true"  data-item-id="{{item._id}}">

    <div class={{#unless (eq ../actor.type 'vehicle')}}"rollable mw-150px flexrow middle"{{/unless}} {{#if (eq ../actor.type 'vehicle')}}"mw-150px flexrow middle"{{/if}} data-type="weapon" data-item-id="{{item._id}}">

        <div class="item-icon mw-35px"><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="25"
                width="25" /></div>
        <div class="name no-break middle">
            {{item.name}}
        </div>
    </div>

    <div class="stat-group grid five-col gap-med middle">
        <div>&plus; {{item.system.modifier.value}}</div>
        <div>{{#dataLocalization item.system.type 'w_type'}}{{/dataLocalization}}</div>  
        <div>{{item.system.damage}}</div>
        <div>{{#dataLocalization item.system.range.min 'range'}}{{/dataLocalization}}</div>
        <div>{{#dataLocalization item.system.range.max 'range'}}{{/dataLocalization}}</div>
    </div>

    <div class="button-group grid four-col mw-100px" data-item-id="{{item._id}}">
        
        {{#if (eq ../actor.type 'player')}}
        {{#if item.flags.isFav}}
        <div class="toggle-fav"><i class="fa-solid fa-star"></i></div>
        {{/if}}
        {{#unless item.flags.isFav}}
        <div class="toggle-fav"><i class="fa-regular fa-star"></i></div>
        {{/unless}}
        {{/if}}
        {{#unless (eq ../actor.type 'player')}}
        <div class="hold"></div>
        {{/unless}}
        <div class="to-chat"><i class="fa-solid fa-comment-alt-lines"></i></div>
        <div class="item-edit"><i class="fa-solid fa-pen-to-square"></i></div>
        <div class="item-delete"><i class="fa-solid fa-trash"></i></div>
    </div>
</div>
{{/if}}
{{/each}}