<div class="weapon-group border-bottom-thick">

    <div class="group-header flexrow middle border-bottom-thin space-between gap-med fw-600 fs-200 all-caps">
        <div class="mw-25px">&nbsp;</div>
        <div class="mw-150px flexrow middle">{{localize "estate.UI.WEAPON"}}</div>
        <div class="stat-group grid five-col gap-med">
            <div>{{localize "estate.UI.BONUS"}}</div>
            <div>{{localize "estate.UI.TYPE"}}</div>
            <div>{{localize "estate.UI.DMG"}}</div>
            <div>{{localize "estate.UI.RANGE_MIN"}}</div>
            <div>{{localize "estate.UI.RANGE_MAX"}}</div>
        </div>
        <div class="button-group grid three-col mw-100px">
            <div class="holder"></div>
            <div class="item-create fs-500" data-type="weapon" title="{{localize "estate.UI.CREATE"}} {{localize "estate.UI.WEAPON"}}">&plus;</div>
            <div class="holder"></div>
        </div>
    </div>

    {{#each items as |item|}}
    {{#if item.isWeapon}}
    <div class="weapon grid item item-row w-100 draggable" draggable="true" data-item-id="{{item._id}}">
        <div class="flexrow middle border-bottom-thin space-between gap-med w-100">

            <div class="show-details mw-25px clickable" data-item-id="{{item._id}}">
                <i class="fa-solid fa-chevron-down"></i>
            </div>

            <div class={{#unless (eq ../actor.type 'vehicle' )}}"rollable mw-150px flexrow middle clickable"{{/unless}}
                {{#if (eq ../actor.type 'vehicle' )}}"mw-150px flexrow middle"{{/if}} data-type="weapon"
                data-item-id="{{item._id}}">

                <div class="item-icon mw-35px"><img src="{{item.img}}" title="{{item.name}}" height="25" width="25" />
                </div>
                <div class="name no-break middle">
                    {{item.name}}
                </div>
            </div>

            <div class="stat-group grid five-col gap-med middle">
                {{#unless item.system.requiresNeurocaster}}
                <div>&plus; {{item.system.modifier.value}} / {{item.system.modifier.max}} </div>
                {{/unless}}
                {{#if item.system.requiresNeurocaster}}
                <div>&nbsp;&mdash;&nbsp;</div>
                {{/if}}
                <div>{{#dataLocalization item.system.type 'w_type'}}{{/dataLocalization}}</div>
                <div>{{item.system.damage}}</div>
                <div>{{#dataLocalization item.system.range.min 'range'}}{{/dataLocalization}}</div>
                <div>{{#dataLocalization item.system.range.max 'range'}}{{/dataLocalization}}</div>
            </div>

            <div class="button-group grid four-col mw-100px" data-item-id="{{item._id}}">

                {{#if (eq ../actor.type 'player')}}
                {{#if item.system.isFav}}
                <div class="toggle-fav" title="{{localize "estate.UI.TOGGLEFAV"}}"><i class="fa-solid fa-star"></i></div>
                {{/if}}
                {{#unless item.system.isFav}}
                <div class="toggle-fav" title="{{localize "estate.UI.TOGGLEFAV"}}"><i class="fa-regular fa-star"></i></div>
                {{/unless}}
                {{/if}}
                {{#unless (eq ../actor.type 'player')}}
                <div class="hold"></div>
                {{/unless}}
                <div class="to-chat"><i class="fa-solid fa-comment-alt-lines"  title="{{localize "estate.UI.TO_CHAT"}}"></i></div>
                <div class="item-edit" title="{{localize "estate.UI.EDIT"}}"><i class="fa-solid fa-pen-to-square"></i></div>
                <div class="item-delete" title="{{localize "estate.UI.DELETE"}}"><i class="fa-solid fa-trash"></i></div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}



</div>

<div class="explosives-group  border-bottom-thick">
    <div class="group-header flexrow middle border-bottom-thin space-between gap-med fw-600 fs-200 all-caps">
        <div class="mw-25px">&nbsp;</div>
        <div class="mw-150px flexrow middle">{{localize "estate.UI.EXPLOSIVE"}}</div>
        <div class="stat-group grid four-col gap-med middle">
            <div>{{localize "estate.UI.BONUS"}}</div>
            <div>{{localize "estate.UI.BLASTPOWER"}}</div>
            <div>{{localize "estate.UI.RANGE_MIN"}}</div>
            <div>{{localize "estate.UI.RANGE_MAX"}}</div>
        </div>
        <div class="button-group grid three-col mw-100px">
            <div class="holder"></div>
            <div class="item-create fs-500" data-type="explosive" title="{{localize "estate.UI.CREATE"}} {{localize "estate.UI.EXPLOSIVE"}}">&plus;</div>
            <div class="holder"></div>
        </div>
    </div>
    {{#each items as |item|}}
    {{#if item.isExplosive}}
    <div class="grid item item-row w-100 draggable" draggable="true" data-item-id="{{item._id}}">
        <div class="flexrow middle border-bottom-thin space-between gap-med">
            <div class="show-details mw-25px clickable" data-item-id="{{item._id}}">
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div  class={{#unless (eq ../actor.type 'vehicle' )}}"rollable mw-150px flexrow middle clickable"{{/unless}}
                {{#if (eq ../actor.type 'vehicle' )}}"mw-150px flexrow middle"{{/if}}  data-type="explosive" data-item-id="{{item._id}}">
                <div class="item-icon mw-35px"><img src="{{item.img}}" title="{{item.name}}" height="25" width="25" />
                </div>
                <div class="name no-break middle  mw-150px flexrow ">
                    {{item.name}}
                </div>
            </div>
            <div class="stat-group grid four-col gap-med">
                <div>&plus; {{item.system.modifier.value}}</div>
                <div>{{item.system.blast}}</div>
                <div>{{#dataLocalization item.system.range.min 'range'}}{{/dataLocalization}}</div>
                <div>{{#dataLocalization item.system.range.max 'range'}}{{/dataLocalization}}</div>
            </div>
            <div class="button-group grid four-col mw-100px" data-item-id="{{item._id}}">
                {{#if (eq ../actor.type 'player')}}
                {{#if item.system.isFav}}
                <div class="toggle-fav" title="{{localize "estate.UI.TOGGLEFAV"}}"><i class="fa-solid fa-star"></i></div>
                {{/if}}
                {{#unless item.system.isFav}}
                <div class="toggle-fav" title="{{localize "estate.UI.TOGGLEFAV"}}"><i class="fa-regular fa-star"></i></div>
                {{/unless}}
                {{/if}}
                {{#unless (eq ../actor.type 'player')}}
                <div class="hold"></div>
                {{/unless}}
                <div class="to-chat"><i class="fa-solid fa-comment-alt-lines"  title="{{localize "estate.UI.TO_CHAT"}}"></i></div>
                <div class="item-edit" title="{{localize "estate.UI.EDIT"}}"><i class="fa-solid fa-pen-to-square"></i></div>
                <div class="item-delete" title="{{localize "estate.UI.DELETE"}}"><i class="fa-solid fa-trash"></i></div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>